{% extends 'base.html' %}
{% load static %}
{% block title %} Blog {% endblock title %}
{% block header %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url({%static 'img/logo_andre.png' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">

          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header %}
{% block content %}

<!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p align="justify"> Meu nome é André Luís Mendes Leocádio, Economista e Ciêntista de Dados, que desde o início da graduação, se viu impressionado de como a junção entre a matemática, estatística e os dados que existem em nossa volta,
        podem nos apresentar um caminho abrangente para retiradas de insights em negócios e nos trazer um aumento de produtividade e melhorar nossas previsões.</p>
        <p align="justify">Entrei assim na área de ciências de dados, a qual me trouxe ferramentas que me permitem desenvolver uma visão mais exata e analítica do mundo em nossa volta. Busco realizar projetos que possam mostrar que os dados em nossa volta podem trazer novas abordagens em nossos negócios.
        Mestre em economia aplicada, com foco no desenvolvimento de modelos econométricos. </p>
      </div>
    </div>
  </div>

  <hr>

{% endblock content %}